@use "variables";

html {
  height: 100%;
}
body {
  font-family: variables.$mainFont;
  background-image: linear-gradient(white, variables.$mainGrey);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.thumbnail {
  width: 100%;
  height: auto;
}
.clickable {
  cursor: pointer;
}

#hero {
  @include variables.hero;
  height: 400px;
  h1 {
    top: 35%;
    font-size: 6rem;
  }
}

#smallHero {
  @include variables.hero;
  height: 150px;
  h1 {
    top: 20%;
    font-size: 4rem;
  }
}

.horizontalNavigation {
  @include variables.horizontalNavBar;
}

.verticalNavigation {
  display: inline;
  float: left;
  min-width: 130px;
  width: 15%;
  background-color: variables.$mainGrey;
  text-align: center;
  height: 100%;
  a {
    @include variables.navigationA;
    display: block;
  }
}
.activeNavLink {
  background-color: variables.$accentColor;
  pointer-events: none;
  cursor: default;
}

#centerWrapper {
  width: 80%;
  background-color: white;
  margin: auto;
  max-width: 1000px;
  padding: 50px 50px;
  h2 {
    text-align: center;
    font-size: 2.5em;
  }
  form {
    width: 90%;
    margin: auto;
    .eventImageFile {
      width: 200px;
    }
    input,
    textarea {
      width: 300px;
      margin: 0;
      padding: 0;
    }
    button {
      @include variables.buttonOrange;
      width: 300px;
      margin: 10px 0;
      &#createEventButton {
        width: 100%;
      }
    }
  }
}

#sideWrapper {
  display: inline;
  float: left;
  width: 85%;
  background-color: white;
  padding: 50px 0;
}

.stylizedDateInfo {
  color: variables.$dateGrey;
  font-weight: 500;
  .number {
    font-size: 2.5em;
    display: inline;
    &.largeFont {
      font-size: 4em;
    }
  }
  .monthYear {
    display: inline-block;
    width: 70%;
    font-size: 0.8em;
    padding-bottom: 2px;
    &.smallFont {
      font-size: 1.3em;
      padding-bottom: 5px;
    }
  }
}

.cardGrid3 {
  @include variables.cardGrid(200px 200px 200px);
  width: 660px;
  .card {
    width: 200px;
    height: auto;
    background-color: white;
    box-shadow: variables.$standardBoxShadow;
    padding-bottom: 10px;
    .information p {
      display: none;
      &.open {
        display: block;
      }
    }
  }
}
.cardGrid2 {
  @include variables.cardGrid(auto auto);
  width: 90%;
  margin: 20px;
  .card {
    max-width: 350px;
    .thumbnail {
      box-shadow: variables.$standardBoxShadow;
    }
    .information {
      .details .category {
        display: block;
        text-align: end;
      }
      a {
        text-align: end;
        display: block;
        width: 99%;
        padding: 0 5px 3p 0;
      }
    }
  }
}

.information {
  padding: 0 10px 10px 10px;
  h4 {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 1.3em;
  }
  .details {
    font-weight: 500;
    margin: 10px 0 15px 0;
    a {
      float: right;
    }
  }
  em {
    float: right;
  }
  hr {
    background-color: variables.$dateGrey;
    border: 0.5px solid variables.$dateGrey;
  }
  a {
    background-color: variables.$accentColor;
    color: white;
    padding: 0 5px 3px 5px;
  }
}

article {
  width: 80%;
  max-width: 900px;
  margin: auto;
  h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0;
  }
}

.schedule {
  color: black;
  font-size: 1.3em;
  margin: 10px 0;
  h4 {
    font-size: 1.3em;
  }
  .time {
    color: variables.$mainGrey;
    padding-right: 10px;
    margin-left: 20px;
  }
}

.imageCollection {
  @include variables.cardGrid(160px 160px 160px 160px);
  width: 100%;
  padding: 50px 0;
  .detailsImages {
    width: 160px;
    height: auto;
    align-items: baseline;
    margin: 5px;
    &.focused {
      width: 170px;
      height: auto;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
section {
  margin: 50px 0;
  .contentSideBySide {
    @include variables.cardGrid(200px auto);
    align-items: center;
    img {
      width: 200px;
    }
  }
  span {
    display: block;
    text-align: center;
    margin-top: 50px 0 0 0;
  }
}

section {
  img {
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
  }
  form {
    margin: auto;
    width: 70%;
    input,
    textarea {
      width: 98%;
    }
  }
  button {
    @include variables.buttonOrange;
    width: 100%;
  }

  .orangeHeader {
    color: variables.$accentColor;
    margin: 150px 0;
  }
}

#adminEntrance {
  @include variables.buttonOrange;
  width: 60px;
  position: relative;
  bottom: 50px;
  a {
    color: white;
  }
}

@media screen and (max-width: 900px) {
  #hero {
    h1 {
      font-size: 3rem;
    }
  }
  .verticalNavigation {
    @include variables.horizontalNavBar;
    width: 100%;
    text-align: center;
    a {
      @include variables.navigationA;
      display: inline;
    }
  }
  #centerWrapper {
    width: 100%;
    padding: 50px 0;
  }
  #sideWrapper {
    width: 100%;
  }

  .cardGrid3,
  .cardGrid2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    .card {
      min-width: 200px;
    }
  }

  .imageCollection {
    @include variables.cardGrid(160px 160px);
  }
}

@media screen and (max-width: 500px) {
  #hero {
    h1 {
      font-size: 2rem;
      top: 45%;
    }
  }
  #adminEntrance {
    left: 0;
    bottom: 30px;
  }
  .imageCollection {
    @include variables.cardGrid(160px);
  }
  section .contentSideBySide {
    display: flex;
    flex-wrap: wrap;
  }
}
